@model UploadArquivos.Models.UploadModel

@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:18%">
    <form asp-action="Index" method="post" enctype="multipart/form-data">

        <div class="row border p-4">

            @for (var i = 0; i < @Model.Arquivos.Count; i++)
            {
                <input type="hidden" asp-for="@Model.Arquivos[i].Descricao">
                <input type="hidden" asp-for="@Model.Arquivos[i].Requerido">

                var requerido = Model.Arquivos[i].Requerido ? "true" : "false";

                <div class="col-md-4">
                    <label class="font-weight-bold" for="input-fas">
                        @Model.Arquivos[i].Descricao
                    </label>
                    <input type="file" asp-for="@Model.Arquivos[i].File"
                       class="input-fas"
                       data-allowed-file-extensions='["pdf", "jpg", "jpeg", "bmp", "png"]'
                       data-val="@requerido">
                    <span asp-validation-for="@Model.Arquivos[i].File" class="text-danger"></span>
                    <span class="text-sm-right text-right">
                        @Model.Arquivos[i].Descricao
                    </span><br />
                </div>
            }

            <button type="submit" class="btn btn-primary btn-block">upload</button>
            <span class="text-sm-right text-right">Arquivos aceitos ( pdf,jpg, jpeg, bmp, png)</span>
        </div>
    </form>
</div>
